* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: url("https://source.unsplash.com/1600x900/?landscape") no-repeat center/cover;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, transparent 75%);
    z-index: -1;
}

.content-principal {
    width: 100vw;
    display: flex;
}

.content {
    flex: 0.50;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    padding: 40px;
    background: rgba(31, 30, 30, 0.35);
    backdrop-filter: blur( 7.15px );
    border-radius: 10px 0px 0px 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    animation: slidecontent 3s;
}

.caixa-maior {
    width: 100%;
    margin-top: 130px;
}

.input-cidade {
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 15px 0px 0px 15px;
    font-size: 16px;
    background-color: #ffffff2b;
    color: white;
    width:  calc(100% - 70px);
}

.input-cidade::placeholder {
    color: #ffffff;
}

.botao-busca {
    border: none;
    outline: none;
    padding: 14px 25px;
    border-radius: 0px 10px 10px 0px;
    background-color: #cccccc;
    opacity: 0.6;
    cursor: pointer;
    float: right;
}

.img-busca {
    width: 20px;
}

.caixa-media {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    display: none;
    height: 300px;

    animation: slidecaixamedia 3s;
}

.cidade {
    color: #ffff;
    font-size: 25px;
    font-weight: 300;
}

.temp {
    font-size: 20px;
    color: #ffff;
    margin-top: 20px;
}

.caixa-menor {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.texto-previsao {
    color: #ffff;
    margin-left: 20px;
    text-transform: capitalize;
}

.umidade {
    color: #ffff;
    margin-top: 20px;
}

/* Alterações */

.contentDois {
    flex: 0.80;
    height: 100vh;
    display: flex;
    align-items: end;
    justify-content: center;
}

.info-body {
    color: #ffffff;
    gap: 0px 16px ;
    display: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    opacity: 1;

    animation: opacidade 3s;
    
}

.tempDois {
    font-size: 80px;
}

.dataBody {
    font-size: 20px;
}

.info-img-texto {
    display: flex;
    align-items: center;
}



/* hover */

.botao-busca:hover {
    background-color: #ffffff;
}


/* -- */


/* medias */
@media screen and (max-width: 768px) {
    .content-principal {
        flex-direction: column-reverse;
        font-size: 10px;
        height: 100vh;
    }
    .content, .dataBody {
        border-radius: 15px;
        font-size: 10px;
    }
    .contentDois {
       align-items: center;
    }
}

@media screen and (max-width: 480px) {
    .info-body {
        flex-direction: column;
        text-align: center;
    }
}
/* -- */


/* animações */

@keyframes slidecaixamedia {
    0% {
        margin-top: 110px;
        height: 30px;
    }
    /* 50% {
        height: 150px;
    } */
    100% {
        /* margin-top: 130px; */
        height: 300px;
    }

}

@keyframes slidecontent {
    0% {
        flex: 0.25;
    }
    
    100% {
        flex: 0.50;
    }

}

@keyframes opacidade {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* -- */