* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.image-background {
    width: 100vw;
    height: 100vh;
    z-index: -100;
    position: absolute;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, transparent 75%);
    z-index: -1;
}

.content-main {
    width: 100vw;
    display: flex;
}

.section-two {
    flex: 0.50;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    padding: 40px;
    background: rgba(31, 30, 30, 0.35);
    backdrop-filter: blur( 7.15px );
    border-radius: 10px 0px 0px 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    animation: slidecontent 3s;
}

.bigger-box {
    width: 100%;
    margin-top: 130px;
}

.search-city {
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 15px 0px 0px 15px;
    font-size: 16px;
    background-color: #ffffff2b;
    color: white;
    width:  calc(100% - 70px);
}

.search-city::placeholder {
    color: #ffffff;
}

.search-button {
    border: none;
    outline: none;
    padding: 14px 25px;
    border-radius: 0px 10px 10px 0px;
    background-color: #cccccc;
    opacity: 0.6;
    cursor: pointer;
    float: right;
}

.img-search {
    width: 20px;
}

.medium-box {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    display: none;
    height: 300px;

    animation: slidemedium-box 3s;
}

.city {
    color: #ffff;
    font-size: 25px;
    font-weight: 300;
}

.temp {
    font-size: 20px;
    color: #ffff;
}

.smaller-box {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.predictive-text {
    color: #ffff;
    margin-left: 20px;
    text-transform: capitalize;
}

.moisture{
    color: #ffff;
}

/* Alterações */

.section-one {
    flex: 0.80;
    height: 100vh;
    display: flex;
    align-items: end;
    justify-content: center;
}

.info-body {
    color: #ffffff;
    gap: 0px 16px ;
    display: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    opacity: 1;

    animation: opacity 3s;
    
}

.temp-one {
    font-size: 80px;
}

.date-one {
    font-size: 20px;
}

.info-img-text {
    display: flex;
    align-items: center;
}

.icon-and-city {
    display: flex;
    align-items: center;
    gap: 5px;
}

.local-icon {
    flex-direction: row;
    height: 25px;
    color: red;
}

.application-name {
    position: absolute;   
    color: #7e7878;
    font-size: 10px;
    margin: 10px 0px 0px 30px ;
}

.moisture-division {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.water-icon {
    height: 20px;
}

.temperature-division{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 4px;
}

.temperature-icon {
    height: 20px;
}

/* hover */

.search-button:hover {
    background-color: #ffffff;
}


/* -- */



/* medias */
@media screen and (max-width: 768px) {
    .content-main {
        flex-direction: column-reverse;
        font-size: 10px;
        height: 100vh;
    }
    .section-two, .date-one {
        border-radius: 15px;
        font-size: 10px;
    }
    .section-two {
       align-items: center;
    }
    .application-name {
        margin-left: 30px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 480px) {
    .info-body {
        flex-direction: column;
        text-align: center;
    }
    .icon-and-city {
        flex-direction: column;
    }
    .city {
        font-size: 20px;
    }
    .medium-box {
        margin-top: 0;
    }
    .application-name {
        margin-left: 30px;
        margin-bottom: 10px;
    }
}
/* -- */


/* animações */

@keyframes slidemedium-box {
    0% {
        height: 120px;
    }
    100% {
        /* margin-top: 130px; */
        height: 300px;
    }

}

@keyframes slidecontent {
    0% {
        flex: 0.25;
    }
    
    100% {
        flex: 0.50;
    }

}

@keyframes opacity {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* -- */